body {
  font-family: sans-serif;
  color: darkslategray;
  background-color: lightcoral;
}
table.shulte {
  margin: 4px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px darkred;
}
table.shulte td {
  font-size: 4em;
  padding: 40px;
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
table.shulte td:hover {
  background-color: lightcoral;
  box-shadow: 0 0 10px lightcoral;
}